# ignore images files
*.jpg
*.jpeg
*.png
*.bmp
*.gif
# ignore model files
*.csv
*.json
*.xml
*.txt
*.zip
*.pt
*.onnx
# Ignore directories
Data/
image/
weights/
# ignore Python cache files
__pycache__/
*.py[cod]